body {
  margin: 0;
}

.snowflake {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  z-index: 200;
  top: 0px;
  position: absolute;
}
@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

@media screen and (max-width: 600px) {
  .top-christmas {
    display: none;
    position: absolute;
    top: -55px;
    z-index: 1;
  }
  .top-christmas .text {
    margin-top: 200px;
  }
}
