/* Uniform panel */

#uniform_panel {
    display: none;
}

.page-name {
    margin-left: 80px;
}

.description {
    margin-left: 7%;
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}


/* Body overflow */

body {
    overflow-x: hidden;
}

@media screen and (max-width:600px){
    .page-name {
        margin-left: 40px;
    }
}