/* Uniform panel */

#uniform_panel {
    display: none;
}

.page-name {
    margin-left: 80px;
}

.description {
    margin-left: 7%;
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}


/* Body overflow */

body {
    overflow-x: hidden;
}


/* Horizontal displaying items */
.horizontal-scrolling{
    height: 300px;
    margin-top: 50px;
}
/* Scrollers */
.scollers{
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 360px;
    background: white;
}
.scollers .fa{
    font-size: 36px;
    width:45%;
    margin: 50px;
    text-align: center;
    color: orange;
    cursor: pointer;
}


#home{
    margin-top: 500px;
}


@media screen and (max-width:600px){
    .page-name {
        margin-left: 40px;
    }
    #home{
        margin-top: 450px;
    }
    .scollers{
        margin-top: 350px;
    }
}